rbpy-rb
gensim==3.8.1
neuralcoref==4.0
nltk==3.4.5
numpy==1.17.4
pymorphy2==0.8
python-dateutil==2.8.0
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
spacy==2.1.3
wget==3.2
tensorflow==2.2.1
pandas
pympler==0.8
